.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.5em;
}
.listItemWrapper {
  margin: 1em 0 0 0;
}
.listItem {
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #f36622;
  font-weight: bold;
  text-shadow: -1px 0px 19px rgba(243, 102, 34, 0.42);
}

@media only screen and (max-width: 599px) {
  .listItemWrapper {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) {
  .listItemWrapper {
    width: 45%;
  }
}
@media only screen and (min-width: 900px) {
  .listItemWrapper {
    width: 30%;
  }
}
@media only screen and (min-width: 1200px) {
  .listItemWrapper {
    width: 22%;
  }
}
