.list {
  list-style-type: none;
  padding: 0;
}
.listItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0.2em 0;
  font-weight: bolder;
  color: #39384a;
  font-size: 1em;
}

.listItemSpan {
  margin: 0 0.5em;
}

input {
  position: relative;
}
input[type="checkbox" i] {
  margin: 0;
  padding: 0;
}
input[type="checkbox"]:before {
  position: absolute;
  top: -1px;
  left: -2px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: white;
  border: 1px solid #acb4c1;
  box-sizing: border-box;
}

input[type="checkbox"]:checked:after {
  position: absolute;
  top: -2px;
  left: -1px;
  content: "\2714";
  color: #39384a;
  width: 16px;
  height: 16px;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
input[type="checkbox"]:checked:before {
  background: white;
  border: 1px solid white;
}
