.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.5em;
}
.listItemWrapper {
  width: 22%;
  margin: 0 1em 1em 0;
}
.listItem {
  text-transform: uppercase;
  margin-bottom: 1em;
}

