.wrapper {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
    text-align: center;
    color: #39384a;
    font-size: 2em;
}
